<div class="col-xs-12 col-sm-6">
  <h2><%= t('hyrax.homepage.recently_uploaded.tab_label') %></h2>
  <%= render 'recently_uploaded', recent_documents: @recent_documents %>
</div><!-- /.col-xs-6 -->

<div class="col-xs-12 col-sm-6">
  <h2><%= t('hyrax.homepage.admin_sets.title') %></h2>
  <%= render 'explore_collections' %>
</div>
