<footer id="page-footer" role="contentinfo">
  <p> <%= link_to t(:'hydra.statics.terms_of_use'), main_app.terms_of_use_path %>
      <span class="separator"></span>
      <%=contact_link('Contact')%>
  </p>
  <p> &copy;<%= Time.current.year %> 
      <a href="https://lib.washington.edu/">University of Washington Libraries</a>
  </p>
</footer>
