<footer id="page-footer" class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-text text-left">
        <p> <%= link_to t(:'hydra.statics.terms_of_use'), main_app.terms_of_use_path %>
            <span class="separator"></span>
            <%=contact_link('Contact')%>
        </p>
    </div>
    <div class="navbar-right">
      <div class="navbar-text text-right">
        <p>&copy;<%= Time.current.year %> 
           <a href="https://lib.washington.edu/">University of Washington Libraries</a>
        </p>
      </div>
    </div>
  </div>
</footer>
