default: &default
  user: fedoraAdmin
  password: fedoraAdmin
  url: http://127.0.0.1:8983/fedora/rest
development:
  base_path: /dev
  <<: *default
test:
  base_path: /test
  <<: *default
production:
  base_path: /prod
  <<: *default
