<section>

<p> To maximize the ability to share, preserve and re-use digital files, you 
    will want to carefully consider the file format you use for your data. 
    Careful selection of a file format can also help you down the road by 
    limiting the chances of your data becoming obsolete when a proprietary 
    format is no longer supported. 
</p>

<p> In general, UW Libraries encourages you to use file formats that are: 
</p>
<ul>
   <li><a href="http://en.wikipedia.org/wiki/Open_format">Open format</a>
       (or free file formats--well-documented);
   </li>
   <li>non-proprietary; 
   </li>
   <li>commonly used within your field or discipline; 
   </li>
   <li>have a standard encoding (ASCII, Unicode); 
   </li>
   <li>and are not otherwise encrypted or compressed.
   </li>
</ul>

</section>

