
<section class="draft">    
    <h2>Getting Started</h2>
    <p> The first time you deposit into <%=t('hyrax.product_name')%> , you will need to...</p> 
    <p> If you need assistance, have questions or would like to schedule a 
        consultation - contact us.
    </p>
</section> 
<section class="draft">
    <h2>Preparing your data for deposit</h2>
    <p> Here’s a guide from <a class="external" href="https://www.icpsr.umich.edu/icpsrweb/content/deposit/guide/index.html">ICPSR</a>.
    </p> 
    <p> Make sure you have the correct authorizations - see our Intellectual 
        Property FAQ for more info.
    </p>
    <p> Make sure that you don’t have any personally identifiable information - see 
        our Protected Information Policy for more info.
    </p>
    <p> Think of it like publication - you want the data set to be as complete as possible
    </p>
    <p> Check out our recommended formats.
    </p>
</section> 
<section class="draft">
    <h2>Describing your data</h2>
    <p> The goal is for your data to not only be findable, but useable. In 
        general, you will need to include some   descriptive metadata, including 
        XYZ. You will also have the opportunity to include a number of other 
        metadata fields. We also recommend that you include a readme file.  If 
        you need assistance finding a metadata standard that’s appropriate, 
        contact our Data Librarians. 
    </p>
</section> 
<section class="draft">
    <h2>Licensing your materials</h2>
    <p> According to 
        <a href="https://www.washington.edu/research/policies/gim-37-research-data/">UW Grants Information Memorandum 37</a> 
        all Research Data is owned by the University, except as otherwise 
        provided by an agreement with a third party, a law, or University 
        policy, such as copyright policy. However, researchers are assigned 
        stewardship responsibility of the data, and therefore may archive 
        and share the data as they see fit. Ownership of software and other 
        copyrightable materials is governed by 
        <a href="http://www.washington.edu/admin/rules/policies/PO/EO36.html">Executive Order 36</a>,
        which states that UW faculty, staff, and students retain all rights 
        in copyrightable materials they create, subject to a limited number 
        of exceptions.
    </p>

    <p> As owners and stewards of your materials it is important to give users
        clear guidelines on how they may use your data and code. While you may
        deposit materials with all rights reserved, UW encourages you to use 
        one of the following licenses to communicate your wishes:
    </p>

    <p>For any material:</p>
    <ul>
       <li><a href="https://creativecommons.org/about/cc0/">CC0</a> - 
          The rights holder waives all of their interests in the work; users
          may use the material any way they wish.
       </li>
    </ul>

    <p> For research data and data sets:
    </p>
    <ul>
	<li>Open Data Commons - A set of licenses that are specifically 
            designed to accommodate the differing ownership issues that can 
            arise between a database and its contents. 
        </li>
    </ul>
 
    <p> For code:
    </p>
    <ul>
       <li>MIT License - A simple and permissive license that allows a wide 
           range of uses but requires inclusion of the original copyright 
           and license notices.
       </li>
       <li>BSD Licenses - A set of simple and permissive licenses very 
           similar to the MIT license, but with additional options to 
           explicitly exclude patent rights or to control the copyright 
           holder’s promotional association with derived products.
       </li>
    </ul>

   <p>For other copyrightable materials:
   </p>
   <ul>
      <li><a href="https://creativecommons.org/licenses/">Creative Commons</a>
          - A set of licenses that outline users’ responsibilities regarding 
          attribution, commercialization, derivative works, and licensing of 
          derivative works.
      </li>
   </ul>


</section> 
<section class="draft">
    <h2>Batch vs. Normal Upload</h2>
    <p> Here are the differences
    </p>
</section> 
<section class="draft">
    <h2>Navigating your account</h2>
    <p> Information about what it means to create your own collection, etc. 
    </p>
</section> 
<section class="draft">
    <h2>Further assistance</h2>
    <p> Contact these folks, and these info sources 
    </p>
</section> 


