<section class="draft">
    <h2>What is DRUW?</h2>
    <p>A thing.
    </p>
</section>

<section class="draft">
    <h2>What do you mean by '<em>data</em>'?</h2>
    <p> A good way to think about it is the materials that support the conclusions 
        of a research project - anything  that would be needed for someone to
        reproduce your work. This can be images, traditional datasets in various 
        formats, software and algorithms used to process data, and other protocols 
        surrounding data collection and analysis.
    </p>
</section>

<section class="draft">
    <h2>Who can deposit data?</h2>
    <p>UW peeps.
    </p>
</section>

<section class="draft">
    <h2>How do I deposit data into the repository?</h2>
    <p> Here’s a getting started guide for new depositors. Here’s how you prepare 
        the data, and here’s how you get it into DRUW. 
    </p>
</section>

<section class="draft">
    <h2>Why should I deposit my data?</h2>
    <p> Sharing is fun. Funders require it. You can get a DOI. Supporting open 
        access and reproducibility is a good goal. It’s good to have a back-up. 
        You can get more citations.
    </p>
</section>

<section class="draft">
    <h2>What formats does DRUW accept?</h2>
    <p> Anything. But we have a list of suggested formats.
    </p>
</section>

<section class="draft">
    <h2>Will my deposit get a DOI?</h2>
    <p> Yup. You can also get a PURL, if you’d rather.
    </p>
</section>

<section class="draft">
    <h2>Does depositing materials affect their copyright?</h2>
    <p> For deposits that include copyrightable material,  those rights will not 
        be affected. According to the Terms of Deposit, depositors grant DRUW a 
        non-exclusive license to preserve and make the data available. But it’s 
        important to note that according to GIM 37, UW owns all data produced at 
        the University. Researchers have responsibility for stewardship of the 
        data, and DRUW is a recommended way of providing that. Software and
        materials that have clearer copyright, such as images, ownership is not 
        affected.  Here’s more info. 
    </p>
</section>

<section class="draft">
    <h2>Who can access the data? Can I put restrictions on access?</h2>
    <p> DRUW is an Open Access repository, so anyone with web access can view 
        and download the data. If you need a DOI for a publication but the 
        journal does not allow access before the publication, contact us and we 
        can work something out. 
    </p>
</section>

<section class="draft">
    <h2>Can I withdraw or change my deposits?</h2>
    <p> If you’ve made a mistake in your upload (spelled someone’s name wrong, etc.) 
        contact us and we can fix it for you. If it’s an updated version of the data set,
        you can either create a new deposit, which will get a new DOI but link to 
        the earlier version, or add the new set to the old deposit. Only in very 
        specific circumstances - usually involving intellectual property or privacy 
        violations - will full withdrawals be appropriate. See our Withdrawal 
        Policy for more info.
    </p>
</section>

<section class="draft">
    <h2>Is it ok to put sensitive data in DRUW?</h2>
    <p> No. Our Policy on Protected Information states that we do not accept 
        materials that include sensitive information. DRUW is not HIPAA compliant.
    </p>
</section>

<section class="draft">
    <h2>Who is behind DRUW?</h2>
    <p> The Libraries. ITS. Dave. Contact info is blah blah.
    </p>
</section>

<section class="draft">
    <h2>What is the photo on the  <%= link_to "main page", sufia.root_path %>?</h2>
    <p>That photo is of our <a href="http://www.lib.washington.edu/suzzallo">Suzzallo Library</a> 
       <a href="http://www.lib.washington.edu/suzzallo/study/study-spaces/reading-room">Reading 
       Room</a>. The photo is courtesy of Katherine Turner and is from the 
       <a href="https://uwphotos.smugmug.com/">UW Visual Asset Collection</a>.
    </p>
</section>
