<% provide(:page_title, "HELP")%>
<!-- or -->
<h1><%= yield(:page_title) %></h1>

<section class="draft">    
    <h2>Getting Started</h2>
    <p> The first time you deposit into DRUW, you will need to...</p> 
    <p> If you need assistance, have questions or would like to schedule a 
        consultation - contact us.
    </p>
</section> 
<section class="draft">
    <h2>Preparing your data for deposit</h2>
    <p> Here’s a guide from <a class="external" href="https://www.icpsr.umich.edu/icpsrweb/content/deposit/guide/index.html">ICPSR</a>.
    </p> 
    <p> Make sure you have the correct authorizations - see our Intellectual 
        Property FAQ for more info.
    </p>
    <p> Make sure that you don’t have any personally identifiable information - see 
        our Protected Information Policy for more info.
    </p>
    <p> Think of it like publication - you want the data set to be as complete as possible
    </p>
    <p> Check out our recommended formats.
    </p>
</section> 
<section class="draft">
    <h2>Describing your data</h2>
    <p> The goal is for your data to not only be findable, but useable. In 
        general, you will need to include some   descriptive metadata, including 
        XYZ. You will also have the opportunity to include a number of other 
        metadata fields. We also recommend that you include a readme file.  If 
        you need assistance finding a metadata standard that’s appropriate, 
        contact our Data Librarians. 
    </p>
</section> 
<section class="draft">
    <h2>Licensing your materials</h2>
    <p> Insofar as your materials are eligible for copyright protection, you 
        should give users a clear idea of how you would like them to use the 
        data. We offer a number of licensing options.
    </p>
    <p> Submitting your materials to DRUW
    </p>
    <p> Here are the steps, spelled out.
    </p>
</section> 
<section class="draft">
    <h2>Batch vs. Normal Upload</h2>
    <p> Here are the differences
    </p>
</section> 
<section class="draft">
    <h2>Navigating your account</h2>
    <p> Information about what it means to create your own collection, etc. 
    </p>
</section> 
<section class="draft">
    <h2>Further assistance</h2>
    <p> Contact these folks, and these info sources 
    </p>
</section> 


