<div class="btn-group" id="about_menu">
  <a class="btn" href="#">About</a>
  <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
    <span class="glyphicon glyphicon-menu-down" ></span>
    <span class="glyphicon glyphicon-menu-up" ></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li>
       <a class="dropdown-item" href="#">About</a>
    </li>
    <li>
        <%= link_to t(:'sufia.statics.faq'), faq_path, :'data-no-turbolink'=>"true", :'class'=>"dropdown-item" %>
    </li>
    <li>
       <a class="dropdown-item" href="#">Collection Policy</a>
    </li>
    <li>
        <%= link_to t(:'sufia.statics.terms_of_use'), terms_of_use_path, :'data-no-turbolink'=>"true", :'class'=>"dropdown-item" %>
    </li>
    <li>
       <a class="dropdown-item" href="#">Terms of Deposit</a>
    </li>
    <li>
       <%= link_to t(:'sufia.statics.withdrawal'), withdrawal_path, :'data-no-turbolink'=>"true", :'class'=>"dropdown-item" %>
    </li>
    <li>
       <a class="dropdown-item" href="#">Protected Information Policy</a>
    </li>
    <li>
       <%= link_to t(:'sufia.statics.privacy'), privacy_path, :'data-no-turbolink'=>"true", :'class'=>"dropdown-item" %>
    </li>
  </ul>
</div>
