<div class="btn-group" id="deposit_menu">
   <%= link_to [:new, Sufia.primary_work_type.model_name.singular_route_key],
       class: "btn" do %>
       Deposit
   <% end %> 

  <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Deposit Options Menu</span>
    <span class="glyphicon glyphicon-menu-down" ></span>
    <span class="glyphicon glyphicon-menu-up" ></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li role="menuitem">
       <%= link_to t('sufia.toolbar.works.new'),  [:new, Sufia.primary_work_type.model_name.singular_route_key], :'class'=>'dropdown-item' %>
    </li>
    <li role="menuitem">
       <%= link_to t("sufia.toolbar.works.batch"), sufia.new_batch_upload_path, :'class'=>'dropdown-item' %>
    </li>
    <li role="separator" class="divider"></li>
    <li role="menuitem">
       <%= link_to t("sufia.toolbar.collections.new"), main_app.new_collection_path, :'class'=>'dropdown-item' %>
    </li>
  </ul>
</div>
