<ul>
    <li><a href="null">All Rights Reserved</a>
        <p> The rights holder does not allow any copying or derivative
            works. If you wish to use the material in a way that exceeds
            fair use, you must contact the author/rights holder to obtain
            explicit approval.
        </p>
    </li>
    <li><a href="https://creativecommons.org/licenses/">Creative Commons</a>
        <p> A set of licenses that outline users’ responsibilities
            regarding attribution, commercialization, derivative works, and
            licensing of derivative works.
        </p>
    </li>
    <li><a href="https://creativecommons.org/about/cc0/">CC0</a>
        <p> The rights holder waives all of their interests in the work;
            you may use the material any way you wish.
        </p>
    </li>
    <li><a href="https://creativecommons.org/about/pdm/">Public Domain</a>
        <p> The materials are free of any known IP restrictions, and you
            may use the material in any way.
        </p>
    </li>
</ul>

