<span class="sr-only">University of Washington Libraries</span>

<a class="patch" href="http://www.uw.edu" title="University of Washington">University of Washington</a>
<a class="wordmark"  href="http://www.lib.washington.edu">University Libraries</a>

